*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Oswald', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0;
    z-index: 1000;
    transition: all .50s ease;
}

nav{
    margin-top: 0;
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;

}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.navbar li:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar li:hover:after{
    background-color: lightskyblue;
}

li.Account a {
    color: cyan; /* Change this to your desired active link text color */
  }

a{
    text-decoration: none;
    color: white;
}

p{
    color: white;
}

.container2{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.signup-container {
    margin-top: 70px;
    margin-left: 750px ;
    width: 400px;
    padding: 20px;
    background: transparent;
    box-shadow: 0 0 10px cyan;
    border-radius: 8px;
    text-align: center;
}


.account-header{
    background-image: url(images/background6.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}

h2 {
    color: cyan;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.switch {
    margin-top: 10px;
}

.switch a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}




@media screen and (max-width: 768px) {
    .signup-container {
        margin-top: 70px;
        margin-left: 400px;
        width: 300px;
        padding: 10px;
        box-shadow: 0 0 5px rgb(183, 0, 255);
        border-radius: 8px;
        text-align: center;
    }}